@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');
@import './uti';

:root {
    --font: 'Josefin Sans', sans-serif;
    --BrightBlue: hsl(220, 98%, 61%);
    --red: hsl(356, 69%, 56%);
    --green: hsl(163, 72%, 41%);
}

.light {
    --VeryDarkBlue: hsl(0, 0%, 98%);
    --VeryLightGray: hsl(0, 0%, 98%);
    --VeryDarkDesaturatedBlue: hsl(0, 0%, 98%);
    --VeryLightGrayishBlue: hsl(240, 6%, 94%);
    --LightGrayishBlue: hsl(233, 11%, 84%);
    --DarkGrayishBlue: hsl(236, 9%, 61%);
    --VeryDarkGrayishBlue: hsl(235, 19%, 35%);
    --LightGrayishBluehover: hsl(235, 18%, 25%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::after,
*::before {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
     overflow-x: hidden;
}

img {
    max-width: 100%;
    display: block;
}

body {
    background-color: var(--VeryDarkBlue);
  
 font-family: var(--font);
    line-height: 1.5;
   
}

header {
    background-image: url(../images/bg-mobile-light.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 200px;
    max-width: 480px;
    padding: 1em;
    @include flex-2;
    justify-content: flex-start;
    position: relative;
   
    .logo--section {
        width: 100%;
        @include flex-1;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 2em;

        h1 {
            text-transform: uppercase;
            letter-spacing: 2px;
            color: hsl(0, 0%, 98%);
        }

        button {
            @include svg-button;
            background-color: unset;
            cursor: pointer;
            margin-right: 5px;

            svg {
                pointer-events: none;
            }
        }
    }

    .input--section {
        max-width: 480px;
        width: 100%;
        height: 50px;


        form {
            width: 100%;
            height: 100%;

            .todo--input {
                width: 100%;
                height: 100%;
                position: relative;

                input {
                    width: 100%;
                    height: 50px;
                    appearance: none;
                    border: none;
                    padding: 1em 3em;
                    border-radius: 3px;
                    background-color: var(--VeryDarkDesaturatedBlue);
                    color: var(--DarkGrayishBlue);
                }

                ::placeholder {
                    font-family: var(--font);
                    font-weight: 700;
                    letter-spacing: 1px;
                    color: var(--VeryDarkGrayishBlue);
                }

                .overlay {
                    width: 20px;
                    height: 20px;
                    background-color: transparent;
                    border-radius: 50%;
                    border: 1px solid var(--VeryLightGrayishBlue);
                    position: absolute;
                    top: 15px;
                    left: 10px;
                }
            }
        }
    }
}

.container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 300px);
    place-content: center;
    gap: 1rem;
    position: relative;
    align-self: center;
    top: 20px;
    border-radius: 5px;

    ul {
        background-color: var(--VeryDarkDesaturatedBlue);
        border-radius: 5px;
        list-style: none;
        @include flex-2;
        @include box-shadow-4;

        li {
            border-top-right-radius: 5px;
            border-top-left-radius: 5px;
            width: 100%;
            border-bottom: 1px solid var(--VeryLightGrayishBlue);
            padding: 1em;

            &:nth-last-child(1) {
                border: unset;
            }

            .tasks--section {
                display: grid;
                grid-template-columns: 50px 1fr auto;

                p {
                    font-size: 1rem;
                    color: var(--VeryDarkGrayishBlue);
                }
            }
        }
    }
}

.filter--section {
    background-color: var(--VeryDarkDesaturatedBlue);
    padding: 1em;
    margin-bottom: 1em;
    border-radius: 5px;
    @include flex-1;
    @include box-shadow-4;


    button {
        &:hover {
            color: var(--LightGrayishBluehover);
        }
    }


}

button {
    margin: 0 1em;
    padding: 0.3em;
    @include svg-button;
    background-color: unset;
    text-transform: capitalize;
    font-weight: 700;
    font-family: var(--font);
    color: var(--LightGrayishBlue);
    cursor: pointer;
}

.button--section {

    @include flex-1;

    #history--button {
        font-size: 1rem;
        color: hsl(0, 0%, 98%)
    }
}

#remove--button {
    @include svg-button;
    background-color: unset;
    cursor: pointer;
    place-self: center;

    svg {
        pointer-events: none;
    }
}

#checkbox {
    position: relative;

    &::before {
        width: 25px;
        height: 25px;
        content: '';
        border-radius: 50%;
        border: 1px solid var(--VeryLightGrayishBlue);
        position: absolute;
        top: -5px;
        left: -5px;
        background-color: var(--VeryDarkDesaturatedBlue);
        cursor: pointer;







    }


    &:hover::before {

        background-image: url(../images/border.svg);
        border: 0;


    }

}

.show--history {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    padding: 0 1em;
    background-color: var(--VeryDarkDesaturatedBlue);
    z-index: 9000;
    width: 250px;
    @include flex-2;
    justify-content: flex-start;
    transform: translateX(200%);
    transition: transform 0.4s ease-in;
    @include box-shadow-4;

    h2 {
        align-self: flex-start;
        color: var(--LightGrayishBlue);
        text-transform: capitalize;
        letter-spacing: 1px;
    }

    .task--history {
        list-style: none;
        color: var(--LightGrayishBlue);

        align-self: stretch;

        p {
            margin: 1em 0;
            text-transform: capitalize;
        }

        #new {
            color: var(--BrightBlue);
        }

        #checked {
            color: var(--green);
        }

        #remove {
            color: var(--red);
        }

        #date {
            color: var(--LightGrayishBlue);
            font-family: Arial, Helvetica, sans-serif;
            font-weight: 400;
            margin-left: 0.5em;
            font-size: 0.8rem;

        }

    }

    .legends {

        align-self: stretch;
        @include flex-1;
        padding: 1em;

        margin-top: auto;

        p {
            margin-left: 1em;
            color: var(--LightGrayishBlue);
            position: relative;
            font-size: 0.9rem;
            text-transform: capitalize;

            &::after {
                @include after--before;
                bottom: 0px;
                top: 20px;
                margin-top: 0.3em;
                left: 20px;
                width: 10px;
                height: 10px;
                background-color: var(--LightGrayishBlue);
                border-radius: 50%;
            }

            &:nth-child(1)::after {
                background-color: var(--green);
            }

            &:nth-child(2)::after {
                background-color: var(--BrightBlue);

            }

            &:nth-child(3)::after {
                background-color: var(--red);

            }
        }
    }

    #close--button {
        position: absolute;
        right: 0;
    }
}

footer {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    font-size: 0.8rem;
    @include flex-1;
    color: var(--LightGrayishBlue);

    a {
        color: var(--BrightBlue);
        text-decoration: none;
    }
}

#check {
    opacity: 0;
}

#message {
    margin-top: 4em;
    text-transform: capitalize;
    color: var(--LightGrayishBlue);
    font-weight: 700;
    font-size: 1rem;
}

.end--section {
    @include flex-1;
    justify-content: space-between;
    color: var(--LightGrayishBlue);

    small {
        font-size: 0.8rem;
    }

    #clear {
        @include svg-button;
        background-color: unset;
        font-size: 0.8rem;
        font-weight: 500;
        font-family: var(--font);
        color: var(--LightGrayishBlue);
        cursor: pointer;
    }

    .filter--section {
        padding: 0em;
        box-shadow: unset;
        margin: 0;
        display: none;

        button {
            margin: 0 0.2em;
        }
    }
}

.over {
    background-color: var(--VeryLightGrayishBlue);
}

.dark--header {
    background-image: url(../images/bg-mobile-dark.jpg);
}

.show {
    display: none;
}

.remove {
    display: none;
}

.checked {
    p {
        opacity: 0.5;
        text-decoration: line-through;
    }

    .tasks--section {
        #checkbox {
            &::before {
                background: linear-gradient(180deg, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
                border: 0;

            }

            &:after {
                content: '';
                width: 25px;
                height: 25px;
                position: absolute;
                @include flex-1;
                top: -5px;
                left: -5px;
                background-image: url('../images/icon-check.svg');
                background-repeat: no-repeat;
                background-position: center;

            }

        }
    }

}

.active {
    color: var(--BrightBlue);

}

.in {
    transform: translateX(0);
}

@media screen and (min-width:481px) {
    header {
        max-width: 768px;

        .logo--section {
            justify-content: space-between;
            max-width: 480px;
            margin: 1em 0;
        }
    }
}

@media screen and (min-width:769px) {
    header {
        max-width: 900px;
        height: 300px;
        background-position: initial;
        background-image: url(../images/bg-desktop-light.jpg);

        .logo--section {
            h1 {
                font-size: 2rem;
            }
        }

    }

    .container {
        grid-template-columns: repeat(1, 450px);

        .end--section {
            .filter--section {
                display: block;
            }
        }

        #outer--filter {
            display: none;
        }
    }

    .dark--header {
        background-image: url(../images/bg-desktop-dark.jpg);
    }
}

@media screen and (min-width:901px) {
    header {
        max-width: 100%;
        height: 250px;
    }
}

.dark {
    --VeryDarkBlue: hsl(235, 21%, 11%);
    --VeryDarkDesaturatedBlue: hsl(235, 24%, 19%);
    --LightGrayishBlue: hsl(234, 39%, 85%);
    --LightGrayishBluehover: hsl(236, 33%, 92%);
    --VeryLightGrayishBlue: hsl(235, 18%, 25%);
    --DarkGrayishBlue: hsl(234, 11%, 52%);
    --VeryDarkGrayishBlue: hsl(234, 39%, 85%);
}