@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");
:root {
  --alpha: 1;
  --alpha-2: 0.8;
  --alpha-3: 0.6;
  --alpha-4: 0.4;
  --alpha-5: 0.2;
  --fontFw: 200;
  --fontFw-1: 300;
  --fontFw-2: 400;
  --fontFw-3: 500;
  --fontFw-4: 700;
  --fontFw-5: 900;
  --max-width-mob-1: 380px;
  --max-width-mob: 480px;
  --max-width-tab: 650px;
  --max-width-desktop: 900px;
  --max-width-desktop: 1440px;
  --major-white: #ffffff;
  --major-black: #000000;
  --button-pad-1: 1em 2em;
  --button-pad-2: 0.5em 1em;
  --button-pad-3: 0.5em 2em;
}

:root {
  --font: 'Josefin Sans', sans-serif;
  --BrightBlue: hsl(220, 98%, 61%);
  --red: hsl(356, 69%, 56%);
  --green: hsl(163, 72%, 41%);
}

.light {
  --VeryDarkBlue: hsl(0, 0%, 98%);
  --VeryLightGray: hsl(0, 0%, 98%);
  --VeryDarkDesaturatedBlue: hsl(0, 0%, 98%);
  --VeryLightGrayishBlue: hsl(240, 6%, 94%);
  --LightGrayishBlue: hsl(233, 11%, 84%);
  --DarkGrayishBlue: hsl(236, 9%, 61%);
  --VeryDarkGrayishBlue: hsl(235, 19%, 35%);
  --LightGrayishBluehover: hsl(235, 18%, 25%);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

img {
  max-width: 100%;
  display: block;
}

body {
  background-color: var(--VeryDarkBlue);
  height: 100vh;
  font-family: var(--font);
  line-height: 1.5;
}

header {
  background-image: url(../images/bg-mobile-light.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 200px;
  max-width: 480px;
  padding: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  position: relative;
}

header .logo--section {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  align-items: center;
  margin-bottom: 2em;
}

header .logo--section h1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #fafafa;
}

header .logo--section button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  background-color: unset;
  cursor: pointer;
  margin-right: 5px;
}

header .logo--section button svg {
  pointer-events: none;
}

header .input--section {
  max-width: 480px;
  width: 100%;
  height: 50px;
}

header .input--section form {
  width: 100%;
  height: 100%;
}

header .input--section form .todo--input {
  width: 100%;
  height: 100%;
  position: relative;
}

header .input--section form .todo--input input {
  width: 100%;
  height: 50px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  padding: 1em 3em;
  border-radius: 3px;
  background-color: var(--VeryDarkDesaturatedBlue);
  color: var(--DarkGrayishBlue);
}

header .input--section form .todo--input ::-webkit-input-placeholder {
  font-family: var(--font);
  font-weight: 700;
  letter-spacing: 1px;
  color: var(--VeryDarkGrayishBlue);
}

header .input--section form .todo--input :-ms-input-placeholder {
  font-family: var(--font);
  font-weight: 700;
  letter-spacing: 1px;
  color: var(--VeryDarkGrayishBlue);
}

header .input--section form .todo--input ::-ms-input-placeholder {
  font-family: var(--font);
  font-weight: 700;
  letter-spacing: 1px;
  color: var(--VeryDarkGrayishBlue);
}

header .input--section form .todo--input ::placeholder {
  font-family: var(--font);
  font-weight: 700;
  letter-spacing: 1px;
  color: var(--VeryDarkGrayishBlue);
}

header .input--section form .todo--input .overlay {
  width: 20px;
  height: 20px;
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid var(--VeryLightGrayishBlue);
  position: absolute;
  top: 15px;
  left: 10px;
}

.container {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (300px)[1];
      grid-template-columns: repeat(1, 300px);
  place-content: center;
  gap: 1rem;
  position: relative;
  -ms-grid-row-align: center;
      align-self: center;
  top: 20px;
  border-radius: 5px;
}

.container ul {
  background-color: var(--VeryDarkDesaturatedBlue);
  border-radius: 5px;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 0 5px 10px -5px rgba(0, 0, 0, var(--alpha-4));
          box-shadow: 0 5px 10px -5px rgba(0, 0, 0, var(--alpha-4));
}

.container ul li {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  width: 100%;
  border-bottom: 1px solid var(--VeryLightGrayishBlue);
  padding: 1em;
}

.container ul li:nth-last-child(1) {
  border: unset;
}

.container ul li .tasks--section {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50px 1fr auto;
      grid-template-columns: 50px 1fr auto;
}

.container ul li .tasks--section p {
  font-size: 1rem;
  color: var(--VeryDarkGrayishBlue);
}

.filter--section {
  background-color: var(--VeryDarkDesaturatedBlue);
  padding: 1em;
  margin-bottom: 1em;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 5px 10px -5px rgba(0, 0, 0, var(--alpha-4));
          box-shadow: 0 5px 10px -5px rgba(0, 0, 0, var(--alpha-4));
}

.filter--section button:hover {
  color: var(--LightGrayishBluehover);
}

button {
  margin: 0 1em;
  padding: 0.3em;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  background-color: unset;
  text-transform: capitalize;
  font-weight: 700;
  font-family: var(--font);
  color: var(--LightGrayishBlue);
  cursor: pointer;
}

.button--section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.button--section #history--button {
  font-size: 1rem;
  color: #fafafa;
}

#remove--button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  background-color: unset;
  cursor: pointer;
  place-self: center;
}

#remove--button svg {
  pointer-events: none;
}

#checkbox {
  position: relative;
}

#checkbox::before {
  width: 25px;
  height: 25px;
  content: '';
  border-radius: 50%;
  border: 1px solid var(--VeryLightGrayishBlue);
  position: absolute;
  top: -5px;
  left: -5px;
  background-color: var(--VeryDarkDesaturatedBlue);
  cursor: pointer;
}

#checkbox:hover::before {
  background-image: url(../images/border.svg);
  border: 0;
}

.show--history {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  padding: 0 1em;
  background-color: var(--VeryDarkDesaturatedBlue);
  z-index: 9000;
  width: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-transform: translateX(200%);
          transform: translateX(200%);
  -webkit-transition: -webkit-transform 0.4s ease-in;
  transition: -webkit-transform 0.4s ease-in;
  transition: transform 0.4s ease-in;
  transition: transform 0.4s ease-in, -webkit-transform 0.4s ease-in;
  -webkit-box-shadow: 0 5px 10px -5px rgba(0, 0, 0, var(--alpha-4));
          box-shadow: 0 5px 10px -5px rgba(0, 0, 0, var(--alpha-4));
}

.show--history h2 {
  -ms-flex-item-align: start;
      align-self: flex-start;
  color: var(--LightGrayishBlue);
  text-transform: capitalize;
  letter-spacing: 1px;
}

.show--history .task--history {
  list-style: none;
  color: var(--LightGrayishBlue);
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
}

.show--history .task--history p {
  margin: 1em 0;
  text-transform: capitalize;
}

.show--history .task--history #new {
  color: var(--BrightBlue);
}

.show--history .task--history #checked {
  color: var(--green);
}

.show--history .task--history #remove {
  color: var(--red);
}

.show--history .task--history #date {
  color: var(--LightGrayishBlue);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  margin-left: 0.5em;
  font-size: 0.8rem;
}

.show--history .legends {
  -ms-flex-item-align: stretch;
      align-self: stretch;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1em;
}

.show--history .legends p {
  margin-left: 1em;
  color: var(--LightGrayishBlue);
  position: relative;
  font-size: 0.9rem;
  text-transform: capitalize;
}

.show--history .legends p::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  bottom: 0px;
  top: 20px;
  margin-top: 0.3em;
  left: 20px;
  width: 10px;
  height: 10px;
  background-color: var(--LightGrayishBlue);
  border-radius: 50%;
}

.show--history .legends p:nth-child(1)::after {
  background-color: var(--green);
}

.show--history .legends p:nth-child(2)::after {
  background-color: var(--BrightBlue);
}

.show--history .legends p:nth-child(3)::after {
  background-color: var(--red);
}

.show--history #close--button {
  position: absolute;
  right: 0;
}

footer {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  font-size: 0.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--LightGrayishBlue);
}

footer a {
  color: var(--BrightBlue);
  text-decoration: none;
}

#check {
  opacity: 0;
}

#message {
  margin-top: 4em;
  text-transform: capitalize;
  color: var(--LightGrayishBlue);
  font-weight: 700;
  font-size: 1rem;
}

.end--section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: var(--LightGrayishBlue);
}

.end--section small {
  font-size: 0.8rem;
}

.end--section #clear {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  background-color: unset;
  font-size: 0.8rem;
  font-weight: 500;
  font-family: var(--font);
  color: var(--LightGrayishBlue);
  cursor: pointer;
}

.end--section .filter--section {
  padding: 0em;
  -webkit-box-shadow: unset;
          box-shadow: unset;
  margin: 0;
  display: none;
}

.end--section .filter--section button {
  margin: 0 0.2em;
}

.over {
  background-color: var(--VeryLightGrayishBlue);
}

.dark--header {
  background-image: url(../images/bg-mobile-dark.jpg);
}

.show {
  display: none;
}

.remove {
  display: none;
}

.checked p {
  opacity: 0.5;
  text-decoration: line-through;
}

.checked .tasks--section #checkbox::before {
  background: -webkit-gradient(linear, left top, left bottom, from(#57ddff), to(#c058f3));
  background: linear-gradient(180deg, #57ddff, #c058f3);
  border: 0;
}

.checked .tasks--section #checkbox:after {
  content: '';
  width: 25px;
  height: 25px;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: -5px;
  left: -5px;
  background-image: url("../images/icon-check.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.active {
  color: var(--BrightBlue);
}

.in {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

@media screen and (min-width: 481px) {
  header {
    max-width: 768px;
  }
  header .logo--section {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    max-width: 480px;
    margin: 1em 0;
  }
}

@media screen and (min-width: 769px) {
  header {
    max-width: 900px;
    height: 300px;
    background-position: initial;
    background-image: url(../images/bg-desktop-light.jpg);
  }
  header .logo--section h1 {
    font-size: 2rem;
  }
  .container {
    -ms-grid-columns: (450px)[1];
        grid-template-columns: repeat(1, 450px);
  }
  .container .end--section .filter--section {
    display: block;
  }
  .container #outer--filter {
    display: none;
  }
  .dark--header {
    background-image: url(../images/bg-desktop-dark.jpg);
  }
}

@media screen and (min-width: 901px) {
  header {
    max-width: 100%;
    height: 250px;
  }
}

.dark {
  --VeryDarkBlue: hsl(235, 21%, 11%);
  --VeryDarkDesaturatedBlue: hsl(235, 24%, 19%);
  --LightGrayishBlue: hsl(234, 39%, 85%);
  --LightGrayishBluehover: hsl(236, 33%, 92%);
  --VeryLightGrayishBlue: hsl(235, 18%, 25%);
  --DarkGrayishBlue: hsl(234, 11%, 52%);
  --VeryDarkGrayishBlue: hsl(234, 39%, 85%);
}
/*# sourceMappingURL=style.css.map */