@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');
@import './uti';

:root {
    --font: 'Josefin Sans', sans-serif;
    --BrightBlue: hsl(220, 98%, 61%);
}

.light {
    --VeryDarkBlue: hsl(0, 0%, 98%);
    --VeryLightGray: hsl(0, 0%, 98%);
    --VeryDarkDesaturatedBlue: hsl(0, 0%, 98%);
    --VeryLightGrayishBlue: hsl(240, 6%, 94%);
    --LightGrayishBlue: hsl(233, 11%, 84%);
    --DarkGrayishBlue: hsl(236, 9%, 61%);
    --VeryDarkGrayishBlue: hsl(235, 19%, 35%);
    --LightGrayishBluehover: hsl(235, 18%, 25%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::after,
*::before {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

img {
    max-width: 100%;
    display: block;
}

body {
    background-color: var(--VeryDarkBlue);
    height: 100vh;
    font-family: var(--font);
    line-height: 1.5;
}

header {
    background-image: url(../images/bg-mobile-light.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 200px;
    max-width: 480px;
    padding: 1em;
    @include flex-2;
    justify-content: flex-start;
    position: relative;

    .logo--section {
        width: 100%;
        @include flex-1;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 2em;

        h1 {
            text-transform: uppercase;
            letter-spacing: 2px;
            color: hsl(0, 0%, 98%);
        }

        button {
            @include svg-button;
            background-color: unset;
            cursor: pointer;
            margin-right: 5px;

            svg {
                pointer-events: none;
            }
        }
    }

    .input--section {
        max-width: 480px;
        width: 100%;
        height: 40px;

        form {
            width: 100%;
            height: 100%;

            .todo--input {
                width: 100%;
                height: 100%;
                position: relative;

                input {
                    width: 100%;
                    height: 100%;
                    appearance: none;
                    border: none;
                    padding: 1em 3em;
                    border-radius: 3px;
                    background-color: var(--VeryDarkDesaturatedBlue);
                    color: var(--DarkGrayishBlue);
                }

                ::placeholder {
                    font-family: var(--font);
                    font-weight: 700;
                    letter-spacing: 1px;
                    color: var(--VeryDarkGrayishBlue);
                }

                .overlay {
                    width: 20px;
                    height: 20px;
                    background-color: transparent;
                    border-radius: 50%;
                    border: 1px solid var(--VeryLightGrayishBlue);
                    position: absolute;
                    top: 9px;
                    left: 8px;
                }
            }
        }
    }
}

.container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 300px);
    place-content: center;
    gap: 1rem;
    position: relative;
    align-self: center;
    top: 20px;
    border-radius: 5px;

    ul {
        background-color: var(--VeryDarkDesaturatedBlue);
        border-radius: 5px;
        list-style: none;
        @include flex-2;
        @include box-shadow-4;

        li {
            border-top-right-radius: 5px;
            border-top-left-radius: 5px;
            width: 100%;
            border-bottom: 1px solid var(--VeryLightGrayishBlue);
            padding: 1em;

            &:nth-last-child(1) {
                border: unset;
            }

            .tasks--section {
                display: grid;
                grid-template-columns: 50px 1fr auto;

                p {
                    font-size: .8rem;
                    color: var(--VeryDarkGrayishBlue);
                }
            }
        }
    }
}

.filter--section {
    background-color: var(--VeryDarkDesaturatedBlue);
    padding: 1em;
    margin-bottom: 1em;
    border-radius: 5px;
    @include flex-1;
    @include box-shadow-4;


    button {
        &:hover {
            color: var(--LightGrayishBluehover);
        }
    }


}

button {
    margin: 0 1em;
    padding: 0.3em;
    @include svg-button;
    background-color: unset;
    text-transform: capitalize;
    font-weight: 700;
    font-family: var(--font);
    color: var(--LightGrayishBlue);
    cursor: pointer;
}

#remove--button {
    @include svg-button;
    background-color: unset;
    cursor: pointer;
    place-self: center;

    svg {
        pointer-events: none;
    }
}

#checkbox {
    position: relative;

    &::before {
        width: 25px;
        height: 25px;
        content: '';
        border-radius: 50%;
        border: 1px solid var(--VeryLightGrayishBlue);
        position: absolute;
        top: -5px;
        left: -5px;
        background-color: var(--VeryDarkDesaturatedBlue);
        cursor: pointer;







    }


    &:hover::before {

        background-image: url(../images/border.svg);
        border: 0;


    }

}

footer {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    font-size: 0.8rem;
   @include flex-1;
   color: var(--LightGrayishBlue);

   a{
       color: var(--BrightBlue);
       text-decoration: none;
   }
}

#check {
    opacity: 0;
}

#message {
    margin-top: 2em;
    text-transform: capitalize;
    color: var(--LightGrayishBlue);
    font-weight: 700;
    font-size: 1rem;
}

.end--section {
    @include flex-1;
    justify-content: space-between;
    color: var(--LightGrayishBlue);

    small {
        font-size: 0.8rem;
    }

    #clear {
        @include svg-button;
        background-color: unset;
        font-size: 0.8rem;
        font-weight: 500;
        font-family: var(--font);
        color: var(--LightGrayishBlue);
        cursor: pointer;
    }

    .filter--section {
        padding: 0em;
        box-shadow: unset;
        margin: 0;
        display: none;

        button {
            margin: 0 0.2em;
        }
    }
}

.over {
    background-color: var(--VeryLightGrayishBlue);
}

.dark--header {
    background-image: url(../images/bg-mobile-dark.jpg);
}

.show {
    display: none;
}

.remove {
    display: none;
}

.checked {
    p {
        opacity: 0.5;
        text-decoration: line-through;
    }

    .tasks--section {
        #checkbox {
            &::before {
                background: linear-gradient(180deg, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
                border: 0;

            }

            &:after {
                content: '';
                width: 25px;
                height: 25px;
                position: absolute;
                @include flex-1;
                top: -5px;
                left: -5px;
                background-image: url('../images/icon-check.svg');
                background-repeat: no-repeat;
                background-position: center;

            }

        }
    }

}

.active {
    color: var(--BrightBlue);

}

@media screen and (min-width:481px) {
    header {
        max-width: 768px;

        .logo--section {
            justify-content: space-around;
        }
    }
}

@media screen and (min-width:769px) {
    header {
        max-width: 900px;



    }

    .container {
        grid-template-columns: repeat(1, 450px);

        .end--section {
            .filter--section {
                display: block;
            }
        }

        #outer--filter {
            display: none;
        }
    }
}

@media screen and (min-width:901px) {
    header {
        max-width: 100%;
        height: 250px;
    }
}

.dark {
    --VeryDarkBlue: hsl(235, 21%, 11%);
    --VeryDarkDesaturatedBlue: hsl(235, 24%, 19%);
    --LightGrayishBlue: hsl(234, 39%, 85%);
    --LightGrayishBluehover: hsl(236, 33%, 92%);
    --VeryLightGrayishBlue: hsl(235, 18%, 25%);
    --DarkGrayishBlue: hsl(234, 11%, 52%);
    --VeryDarkGrayishBlue: hsl(234, 39%, 85%);
}